extends layout

block content

  if state === "showalbum"
    .jumbotron.text-center
      h2= "Album owner:   " + owner.email
      h1= album.title
      h3= album.description
      h5= "Points: " + album.points
    .row
      .col-xs-6
        h4= "album posted on: " + album.formattedDate
      .col-xs-3.col-xs-offset-3
        if album.private
          h3 Private Album
        else 
          h3 Public Album
    h5= "Tags: " + album.tags

    .container#images
      if album.images 
        br
        if album.images.length === 0 && owner.email === user.email
          h3 Your album is currently empty. Add an image!
        else 
          .row
            each image in album.images
              .col-xs-12.col-sm-6.col-md-4.col-lg-3.item
                .row
                  .showImage.btn.btn-primary(data-owner=owner._id, data-album=album._id, data-image=image._id)= image.filename
                .row 
                  img.thumb(src=image.url, alt="yo")
    hr

    if owner.email !== user.email
      a.btn.btn-info(href='/albums') Back
    else
      a.btn.btn-success.btn-lg(href='/addImage/'+albumid)  Add an Image 
      br
      br
      a.btn.btn-info(href='/albums/mine') Back
      hr
      .row
        .btn.btn-warning.col-xs-2#toggle(data-album=albumid, data-user=user._id) Toggle Privacy
        .btn.btn-danger.col-xs-offset-2#removeAlbum(data-album=albumid, data-user=user._id) Remove Album
  
  if state === "showimage"
    .jumbotron.text-center
      h2= "Album owner:   " + owner.email
      h1= album.title
      h3= album.description
      hr
      h4= image.filename
      .imageDetail
        img(src=image.url, alt="yo")
      br

      a.btn.btn-info(href='/albums/'+album._id+'/'+owner._id) See Album
      a.btn.btn-warning(href='/faves') Your Favorites
      hr
    if owner.email === user.email  
      .btn.btn-danger#removeImage(data-owner=owner._id, data-album=album._id, data-image=image._id) Remove Image from Album  
    else 
      .btn.btn-success#faveImage(data-owner=owner._id, data-album=album._id, data-image=image._id) Add Image to Favorites
        
  if state === "faveimages"
    .container#images
      if user.faveimages 
        br
        if user.faveimages.length === 0 
          h3 You currently don't have favorite images. 
        else 
          .row
            each image in user.faveimages
              .col-xs-12.col-sm-6.col-md-4.item
                .row
                  a.filename.btn.btn-primary(href='/faves/show/'+image._id)= image.filename                  
                .row
                  .btn.btn-danger.btn-sm.unfaveImage(data-album="", data-image=image._id) Un-fave  
                .row 
                  img.thumb(src=image.url, alt="yo")

    
    hr
    a.btn.btn-info(href='/albums') Browse Public Albums

block scripts
  script(src="/js/main.js")

      
      
        
    
      
  